<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1><a href="/">Terraform Script Runner</a></h1>
            <h2>List of available stacks</h2>
            <form method="POST" role="form" th:action="@{/result_terraform}">
                <ul class="list-group">
                    <!--/*@thymesVar id="scripts" type="java.util.List<ru.jetbrains.testenvrunner.model.TerraformScript>"*/-->
                    <li th:each="script : ${scripts}" class="list-group-item">
                        <th:block th:with="name=${script.name}">
                            <span th:text="${name}">Terraform script</span>
                        </th:block>
                        <button type="submit" name="action" class="btn btn-xs btn-success pull-right" value="run"> Run
                        </button>
                        <input type="hidden" name="script-name" th:value="${script.name}"/>
                    </li>
                </ul>
            </form>
            <h2>List of running stacks</h2>
            <ul class="list-group">
                <!--/*@thymesVar id="runscripts" type="java.util.List<ru.jetbrains.testenvrunner.model.TerraformScript>"*/-->
                <li th:each="script : ${runscripts}" class="list-group-item">
                    <form method="POST" role="form" th:action="@{/result_terraform}">
                        <th:block th:with="name=${script.name}">
                            <a th:href="@{/script/{id}(id=${name})}" th:text="${name}">Terraform script</a>
                        </th:block>
                        <button type="submit" name="script-name" th:value="${script.name}"
                                class="btn btn-xs btn-info btn-danger pull-right">
                            Destroy
                        </button>
                        <input type="hidden" name="action" value="destroy"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>