<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="bundleJavaScript" type="java.lang.Boolean"*/-->
<head>
    <title>Stamper</title>
    <script th:if="${not bundleJavaScript}" src="https://jspm.io/system@0.19.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div id='root'></div>

<script src="https://fb.me/react-15.0.1.js"></script>
<script src="https://fb.me/react-dom-15.0.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- ******* Load bundled javascript (for production mode)             ******* -->
<!-- ******* or javascript modules via system.js (in development mode) ******* -->

<script th:if="${bundleJavaScript}" src="js/bundle.js"></script>
<script th:if="${not bundleJavaScript}">
    System.config({
        transpiler: 'babel',
        babelOptions: {},
    });
    System.import('./main.js');
</script>
</body>
</html>

