<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
</head>
<body>
<div class="container">
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
        </ul>
        <h1><a href="/" class="muted">Terraform Script Runner</a></h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2> The run parameters</h2>
            <form method="POST" id="run_form" class="form-horizontal" th:action="@{/result_terraform}">
                <!--/*@thymesVar id="script" type="ru.jetbrains.testenvrunner.model.TerraformScript"*/-->
                <th:block th:with="params=${script.params}">
                    <div class="form-group">
                        <label th:for="stack_name" class="col-xs-3 control-label">Stack name</label>
                        <div class="col-xs-5">
                            <input name="stack_name" id="stack_name" th:value="${script.name}" class="form-control"/>
                            <span id="stack_name_error_span" style="display: none" class="help-block">The stack with this name already exists</span>
                        </div>
                    </div>

                    <div th:each="parameter : ${params}" class="form-group">
                        <label th:text="${parameter.name}" th:for="${parameter.name}" class="col-xs-3 control-label">
                            Parameter name
                        </label>
                        <div class="col-xs-5">
                            <select th:if="${!parameter.getAvailableValues().isEmpty()}"
                                    class="selectpicker form-control" th:name="${parameter.name}"
                                    data-live-search="true">
                                <option th:each="value : ${parameter.getAvailableValues()}" th:value="${value}"
                                        th:text="${value}"></option>
                            </select>

                            <input th:if="${parameter.getAvailableValues().isEmpty()}" class="form-control"
                                   th:value="${parameter.defaultValue}"
                                   th:name="${parameter.name}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-9 col-xs-offset-3">
                            <button id="run-script-btn" class="btn btn-primary">Run stack</button>
                        </div>
                    </div>

                    <input type="hidden" name="action" value="run"/>
                    <input type="hidden" name="script_name" th:value="${script.name}"/>
                </th:block>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript"
        src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/run_script.js"></script>
</body>
</html>