<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
    <script type="text/javascript" th:src="@{/js/stack_card.js}"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<div class="container">
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
        </ul>
        <h1><a href="/" class="muted">Terraform Script Runner</a></h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!--/*@thymesVar id="msg" type="java.lang.String"*/-->
            <div class="alert alert-success" th:if="${msg != null}">
                <strong th:text="${msg}">The stack is prolonged!</strong>
            </div>

            <!--/*@thymesVar id="stack" type="ru.jetbrains.testenvrunner.model.Stack"*/-->
            <h2><b>Stack:</b> <span id="stack_name" th:value="${stack.name}" th:text="${stack.name}"> Ubuntu</span></h2>

            <!--/*@thymesVar id="link" type="java.lang.String"*/-->
            <p>
                <b>Usage link:</b>
                <a href="/" th:if="${not link.isEmpty()}" th:href="${link}" th:text="${link}">URL: localhost:8080</a>
                <span th:if="${link.isEmpty()}">The link does not exist</span>
                <br/>
                <b>Creation date:</b> <span th:text="${stack.createdDate}">14:34 23/05/2016</span>
                <br/>
                <b>Expired date:</b> <span th:text="${stack.expiredDate}">14:34 23/05/2016</span>
                <br/>
            </p>
            <p th:if="${stack.user!=null}">
                <b>User name:</b> <span th:text="${stack.user.name}">User name</span>
                <br/>
                <b>User email:</b> <span th:text="${stack.user.email}">User email</span>
                <br/>
            </p>

            <div>
                <p>
                    <b>Status:</b> <span id="stack_status"></span>
                    <span id="loader-icon" class="fa fa-circle-o-notch fa-spin"></span>
                    <span id="applied-icon" class="glyphicon glyphicon-ok"></span>
                    <span id="destroyed-icon" class="glyphicon glyphicon-remove"></span>
                    <span id="failed-icon" class="fa fa-exclamation-circle"></span>
                </p>
            </div>
            <h3><a href="#detailed" data-toggle="collapse">Details</a></h3>
            <div id="detailed" class="collapse">
                <pre id="stack_status_info"></pre>
            </div>

            <h3><a href="#operations" data-toggle="collapse">Operations</a></h3>
            <div id="operations" class="collapse">
                <!--/*@thymesVar id="operations" type="java.util.List<ru.jetbrains.testenvrunner.model.ExecuteOperation>"*/-->
                <div th:each="operation : ${operations}">
                    <h4><a th:href="'#'+${operation.id}" data-toggle="collapse"
                           th:text="${operation.command}">Command</a></h4>
                    <div th:id="${operation.id}" class="collapse">
                        <!--/*@thymesVar id="status" type="java.lang.String"*/-->
                        <pre th:text="${operation.getExecuteResult().getOutput()}">Output</pre>
                    </div>
                </div>
            </div>


            <h3>Destroy stack</h3>
            <form method="POST" class="form-horizontal" th:action="@{/result_terraform}">
                <button name="script-name" th:value="${stack.name}"
                        class="btn btn-sm btn-info btn-danger">Destroy
                </button>
                <input type="hidden" name="action" value="destroy"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>