<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
        </ul>
        <h1><a href="/" class="muted">Terraform Script Runner</a></h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!--/*@thymesVar id="stack" type="ru.jetbrains.testenvrunner.model.Stack"*/-->
            <h2><b>Stack:</b> <span th:text="${stack.name}"> Ubuntu</span></h2>

            <!--/*@thymesVar id="link" type="java.lang.String"*/-->
            <p>
                <b>Usage link:</b>
                <a href="/" th:if="${not link.isEmpty()}" th:href="${link}" th:text="${link}">URL: localhost:8080</a>
                <span th:if="${link.isEmpty()}">The link does not exist</span>

            </p>


            <p>
                <b>Creation date:</b> <span th:text="${stack.createdDate}">14:34 23/05/2016</span>
                <br/>
            </p>
            <p th:if="${stack.user!=null}">
                <b>User name:</b> <span th:text="${stack.user.name}">User name</span>
                <br/>
                <b>User email:</b> <span th:text="${stack.user.email}">User email</span>
                <br/>
            </p>
            <h3>Stop script</h3>
            <form method="POST" th:action="@{/result_terraform}">
                <button name="script-name" th:value="${stack.name}"
                        class="btn btn-sm btn-info btn-danger">
                    Destroy
                </button>
                <input type="hidden" name="action" value="destroy"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>